[global_config]
  inactive_color_offset = 1.0
[keybindings]
[profiles]
  [[default]]
    background_color = "#2b2b2b"
    foreground_color = "#dedede"
    show_titlebar = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
