[global_config]
  inactive_color_offset = 1.0
  suppress_multiple_term_dialog = True
  title_font = Hack 11
  title_use_system_font = False
[keybindings]
  next_tab = <Primary>Page_Down
  prev_tab = <Primary>Page_Up
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[remote]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      title = drake@access-terminal: ~
      type = Window
    [[[child1]]]
      active_page = 0
      labels = None, None, None, None, None
      last_active_term = 688f690e-3d58-40d0-b982-afe1df8a6552, 7504bf18-cef6-404e-9846-864c43f5ec25, 4f5c183d-f577-4d87-9d66-a204b7e01c72, 821bcb67-9e25-4647-bf4c-ea93137ff316, 9381c2b0-3f37-497b-aafc-5533762b4393
      order = 0
      parent = child0
      type = Notebook
    [[[terminal0]]]
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 688f690e-3d58-40d0-b982-afe1df8a6552
    [[[terminal1]]]
      command = 'bash -c "ssh -i /home/drake/.ssh/local_id_rsa drake@vinculum && bash -i"'
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 7504bf18-cef6-404e-9846-864c43f5ec25
    [[[terminal2]]]
      command = 'bash -c "ssh -i /home/drake/.ssh/local_id_rsa drake@pihole && bash -i"'
      order = 2
      parent = child1
      profile = default
      type = Terminal
      uuid = 4f5c183d-f577-4d87-9d66-a204b7e01c72
    [[[terminal3]]]
      command = 'bash -c "ssh -i /home/drake/.ssh/local_id_rsa drake@access-node && bash -i"'
      order = 3
      parent = child1
      profile = default
      type = Terminal
      uuid = 821bcb67-9e25-4647-bf4c-ea93137ff316
    [[[terminal4]]]
      command = 'bash -c "ssh -i /home/drake/.ssh/local_id_rsa drake@freeNAS && bash -i"'
      order = 4
      parent = child1
      profile = default
      type = Terminal
      uuid = 9381c2b0-3f37-497b-aafc-5533762b4393
[plugins]
[profiles]
  [[default]]
    background_color = "#2b2b2b"
    cursor_color = "#dedede"
    font = Hack 11
    foreground_color = "#dedede"
    scrollback_infinite = True
    show_titlebar = False
    use_system_font = False
  [[apprentice]]
    background_color = "#262626"
    cursor_color = "#aaaaaa"
    foreground_color = "#bcbcbc"
    palette = "#1c1c1c:#af5f5f:#5f875f:#87875f:#5f87af:#5f5f87:#5f8787:#6c6c6c:#444444:#ff8700:#87af87:#ffffaf:#8fafd7:#8787af:#5fafaf:#ffffff"
    show_titlebar = False
  [[htop]]
    background_color = "#2b2b2b"
    custom_command = 'bash -i -c "htop && bash"'
    font = Hack 11
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
    use_system_font = False
  [[speedometer]]
    background_color = "#2b2b2b"
    custom_command = 'bash -i -c "speedometer -t tun0 -r tun0 -t wlp2s0 -r wlp2s0 && bash"'
    font = Hack 11
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
    use_system_font = False
