[global_config]
  inactive_color_offset = 1.0
  suppress_multiple_term_dialog = True
  title_font = Hack 11
  title_use_system_font = False
[keybindings]
  next_tab = <Alt>Page_Down
  prev_tab = <Alt>Page_Up
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[monitoring]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      type = Window
    [[[child1]]]
      active_page = 0
      labels = None, None, None, None, None
      last_active_term = 371e1b9c-a964-470c-b957-60770d34ffb1, 3a1c0eca-901b-4301-9624-4b6bde05a457, 8fbcba8d-13d1-4af7-b7d8-2f012336b32a, b199726c-781a-44ca-af56-616917b70200, 2b0d254c-d6f8-4ee0-a368-4c7c82a626e2
      order = 0
      parent = child0
      type = Notebook
    [[[terminal0]]]
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 371e1b9c-a964-470c-b957-60770d34ffb1
    [[[terminal1]]]
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = 3a1c0eca-901b-4301-9624-4b6bde05a457
    [[[terminal2]]]
      order = 2
      parent = child1
      profile = default
      type = Terminal
      uuid = 8fbcba8d-13d1-4af7-b7d8-2f012336b32a
    [[[terminal3]]]
      order = 3
      parent = child1
      profile = default
      type = Terminal
      uuid = b199726c-781a-44ca-af56-616917b70200
    [[[terminal4]]]
      order = 4
      parent = child1
      profile = default
      type = Terminal
      uuid = 2b0d254c-d6f8-4ee0-a368-4c7c82a626e2
[plugins]
[profiles]
  [[default]]
    background_color = "#2b2b2b"
    cursor_color = "#dedede"
    font = Hack 11
    foreground_color = "#dedede"
    scrollback_infinite = True
    show_titlebar = False
    use_system_font = False
  [[htop]]
    background_color = "#2b2b2b"
    custom_command = 'bash -i -c "htop && bash"'
    font = Hack 11
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
    use_system_font = False
  [[speedometer]]
    background_color = "#2b2b2b"
    custom_command = 'bash -i -c "speedometer -t tun0 -r tun0 -t wlp2s0 -r wlp2s0 && bash"'
    font = Hack 11
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
    use_system_font = False
