[global_config]
  inactive_color_offset = 1.0
  title_use_system_font = False
  title_font = Hack Nerd Font Mono 11
[keybindings]
[profiles]
  [[default]]
    background_color = "#2b2b2b"
    cursor_color = "#aaaaaa"
    foreground_color = "#dedede"
    show_titlebar = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
