[global_config]
  inactive_color_offset = 1.0
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#2b2b2b"
    font = Hack 11
    foreground_color = "#dedede"
    scrollback_infinite = True
    show_titlebar = False
    use_system_font = False
  [[New Profile]]
    background_color = "#2b2b2b"
    custom_command = 'bash -i -c "speedometer -t tun0 -r tun0 -t wlp2s0 -r wlp2s0 && bash"'
    font = Hack 11
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
    use_system_font = False
  [[htop]]
    background_color = "#2b2b2b"
    custom_command = 'bash -i -c "htop && bash"'
    font = Hack 11
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
    use_system_font = False
