[global_config]
  inactive_color_offset = 1.0
  title_font = Hack 12
  title_use_system_font = False
[keybindings]
  zoom_normal = <Primary>0
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#2b2b2b"
    cursor_color = "#dedede"
    foreground_color = "#dedede"
    scrollback_infinite = True
    show_titlebar = False
  [[htop]]
    background_color = "#2b2b2b"
    cursor_color = "#dedede"
    custom_command = 'bash -i -c "htop && bash"'
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
  [[speedometer-eno1]]
    background_color = "#2b2b2b"
    cursor_color = "#dedede"
    custom_command = 'bash -i -c "speedometer -t eno1 -r eno1 && bash"'
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
  [[speedometer-tun0]]
    background_color = "#2b2b2b"
    cursor_color = "#dedede"
    custom_command = 'bash -i -c "speedometer -t tun0 -r tun0 && bash"'
    foreground_color = "#dedede"
    scrollbar_position = hidden
    show_titlebar = False
    use_custom_command = True
